:root {
    --main-color: rgba(249, 158, 46, 1);
    --seconed-color: rgba(15, 95, 77, 1);
    --hoverMain-btn: rgb(238, 137, 14);
    --hoverSecond-btn: rgb(9, 70, 57);
}

body{
    font-family: 'Beiruti', sans-serif;
    margin: 0;
    padding: 0;
    direction: rtl;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: inherit;
}

/* Start Header */
.header{
    background-image: url("./images/backGroundImage.png");
    background-size: cover;
    background-position: center;
    padding:20px 0 243px;
    .container{
        /* Start Navpar */
        nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            ul{
                .dropdown{
                    position: relative;
                    display: inline-block;
                    .drop-btn {
                        color: white;
                        background:none;
                        border: none;
                        padding: 10px 16px;
                        border-radius: 6px;
                        font-size: 14.75px;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        gap: 8px;
                    }
                    .dropdown-menu {
                        background-color: rgb(255, 255, 255);
                        position: absolute;
                        top: 110%;
                        right: 0; 
                        min-width: 180px;
                        border-radius: 6px;
                        box-shadow: 0 8px 20px rgba(0,0,0,0.15);
                        overflow: hidden;
                        opacity: 0;
                        visibility: hidden;
                        transform: translateY(10px);
                        transition: 0.3s ease;
                        z-index: 10;
                        a {
                            display: block;
                            padding: 10px 14px;
                            font-size: 14.75px;
                            color: black;
                            transition: 0.2s;
                            &:hover {
                                background: #f2f2f2;
                            }
                        }
                    }
                    &:hover .dropdown-menu {
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(0);
                        }
                    &:hover .drop-btn i {
                        transform: rotate(180deg);
                        transition: 0.3s;
                    }
                }
                a{
                    font-size: 14.75px;
                    color: white;
                }
            }
            .communication-btn{
                background-color: var(--main-color);
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-size: 13.95px;
                font-weight: 700;
                width: 123.34484100341797px;
                height: 49.51578903198242px;
                &:hover {
                    background-color: var(--hoverMain-btn);
                    transition: 0.3s;
                }
            }
        }
        /* End Navpar */
        /* Start Booking Form */
        .booking-form{
            width: 70%;
            margin: 272px auto 0;
            padding: 50px 20px;
            background-color: var(--main-color);
            border-radius: 18.23px;
            form{
                display: flex;
                flex-wrap: wrap;
                align-items: end;
                gap: 15px;
                justify-content: center;
                .column{
                    display: flex;
                    flex-direction: column;
                    label{
                        font-size: 18.23px;
                        color: white;
                        font-weight: 700;
                    }
                    .select-custom{
                        position: relative;
                        width: 220px; 
                        select{
                            color: white;
                            font-weight: 700;
                            margin-top: 10px;
                            width: 100%;
                            padding: 12px 40px 12px 16px; 
                            border-radius: 8px;
                            border: 1px solid white;
                            background: transparent;
                            font-size: 16px;
                            outline: none;
                            appearance: none;    
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            cursor: pointer;
                            option {
                                color:white;
                                background-color: var(--seconed-color);
                                font-size: 18px;
                                font-weight: 400;
                                &:hover {
                                    background-color: var(--hoverSecond-btn);
                                    transition: 0.3s;
                                }
                            }
                        }
                        .select-icon {
                            position: absolute;
                            top: 59%;
                            left: 14px; 
                            transform: translateY(-50%);
                            color: #fff;
                            font-size: 12px;
                            pointer-events: none; 
                        }
                    }
                }
                .submit{
                    width: 209.6519775390625px;
                    height: 41.01694869995117px;
                    color: white;
                    border-radius: 8px;
                    border: none;
                    font-size: 18.23px;
                    font-weight: 700;
                    background-color: var(--seconed-color);
                    cursor: pointer;
                    margin-right: 26px;
                    &:hover {
                        background-color: var(--hoverSecond-btn);
                        transition: 0.3s;
                    }
                }
            }
        }
        /* End Booking Form */
    }
}
/* End Header */

/* Start All Offers */
.all-offers{
    .title-head{
        text-align: center;
        font-size: 51.57px;
        font-weight: 400;
    }
    .container {
    direction: ltr;
    display: grid;
    grid-template-columns: repeat( minmax(220px, 1fr));
    gap: 16px;
    justify-items: center;

    .card {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;

    .img-backGround {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
    }

    .tag {
        position: absolute;
        top: 13px;
        right: 0;
        width: 130px;
        height: 27px;
    }

    .tag-note {
        position: absolute;
        top: -5px;
        right: 10px;
        color: white;
        font-size: 16px;
        font-weight: bold;
    }

    .title {
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: white;
        font-size: 18px;
        font-weight: bold;
        }

        &:hover .img-backGround {
        transform: scale(1.05);
        }
    }

    > :last-child {
    grid-column: 3 / 4;
    }

}

}
/* End All Offers */




/* PC Responsive */
@media (max-width: 500px) {
    /* Start Header */
    .header{
        padding-bottom: 100px !important;
        nav{
            justify-content: center !important;
            ul,
            .communication-btn{
                display: none !important;
            }
        }
        .booking-form{
            width: 90% !important;
            margin: 100px auto 0 !important;
            .select-custom{
                width: 130px !important;
            }
            .submit{
                margin: 0 !important;
                width: 100% !important;
            }
        }
    }
    /* End Header */
    .all-offers{
        .container{
            grid-template-columns: repeat(2, minmax(47%, 1fr)) !important;
        }
    }
}

