@font-face {
    font-family: "Shekari";
    src: url("./assets/fonts/ShekariFont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --main-color: rgba(249, 158, 46, 1);
    --second-color: rgba(15, 95, 77, 1);
    --hoverMain-btn: rgb(238, 137, 14);
    --hoverSecond-btn: rgb(9, 70, 57);
}

body{
    font-family: 'Beiruti', sans-serif;
    margin: 0;
    padding: 0;
    direction: rtl;
}

.floating-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    .whatsapp-btn,.call-btn{
        border-radius: 50%;
        color: white;
        box-shadow:0 0px 14px 2px rgb(0 0 0 / 45%);
        &:hover{
            i{
                transform: scale(1.02);
            }
        }
        i{
            font-size: 25px;
        }
    }
    .whatsapp-btn{
        padding: 11px 13px 10px;
        background-color:  #25D366;
    }
    .call-btn{
        padding: 13px 14px 11px;
        background-color: var(--second-color);
        margin-top: 10px;
        i{
            font-size: 20px !important;
        }
    }
}
.overlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.5);
    z-index: 9;
}
.active{
    display: block !important;
}

.flex{
    display: flex;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: inherit;
}

/* Start Header */
.header{
    /* position: relative; */
    border-radius: 50%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-image: url(./images/Ellipse\ 3462.png);
    background-size: cover;
    background-position: center;
    padding: 20px 0 102px;
    .container{
        /* Start Navpar */
        nav{
            position: relative;
            z-index: 100000;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .list-bar{
                display: none;
                color: white;
                font-size: 24px;
                cursor: pointer;
            }
            ul{
                .dropdown{
                    position: relative;
                    display: inline-block;
                    .drop-btn {
                        font-family: 'Beiruti', sans-serif;
                        color: white;
                        background:none;
                        border: none;
                        padding: 10px 16px;
                        border-radius: 6px;
                        font-size: 14.75px;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        gap: 8px;
                    }
                    .dropdown-menu {
                        background-color: rgb(255, 255, 255);
                        position: absolute;
                        top: 110%;
                        right: 0; 
                        min-width: 180px;
                        border-radius: 6px;
                        box-shadow: 0 8px 20px rgba(0,0,0,0.15);
                        overflow: hidden;
                        opacity: 0;
                        visibility: hidden;
                        transform: translateY(10px);
                        transition: 0.3s ease;
                        z-index: 10;
                        a {
                            display: block;
                            padding: 10px 14px;
                            font-size: 14.75px;
                            color: black;
                            transition: 0.2s;
                            &:hover {
                                background: #f2f2f2;
                            }
                        }
                    }
                    &:hover .dropdown-menu {
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(0);
                        }
                    &:hover .drop-btn i {
                        transform: rotate(180deg);
                        transition: 0.3s;
                    }
                }
                a{
                    font-size: 14.75px;
                    color: white;
                }
            }
            .communication-btn{
                background-color: var(--main-color);
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-size: 13.95px;
                font-weight: 700;
                width: 123.34484100341797px;
                height: 49.51578903198242px;
                &:hover {
                    background-color: var(--hoverMain-btn);
                    transition: 0.3s;
                }
            }
        }
        /* End Navpar */
        /* Start Sidepar */
        .sidepar{
            padding: 20px;
            display: none;
            position: fixed;
            z-index: 100;
            right: 0;
            top: 0;
            gap: 10px;
            background-color: white;
            font-size: 14.75px;
            font-weight: 700;
            width: 200px;
            height: 100vh;
            .close-sidebar{
                font-size: 24px;
                color: var(--second-color);
                cursor: pointer;
                /* padding: 20px; */
                &:hover {
                    color: red;
                    transition: 0.3s;
                }
            }
            ul{
                padding-right: 0;
                .dropdown{
                    position: relative;
                    .drop-btn {
                        margin-bottom: 10px;
                        width: 100%;
                        color: black;
                        background:none;
                        border: none;
                        padding: 10px 16px;
                        font-size: 14.75px;
                        cursor: pointer;
                        display: flex;
                        justify-content: space-between ;
                        align-items: center;
                        gap: 8px;
                    }
                    .dropdown-menu {
                        background-color: rgb(255, 255, 255);
                        position: absolute;
                        top: 110%;
                        right: 0; 
                        min-width: 180px;
                        border-radius: 6px;
                        box-shadow: 0 8px 20px rgba(0,0,0,0.15);
                        overflow: hidden;
                        opacity: 0;
                        visibility: hidden;
                        transform: translateY(10px);
                        transition: 0.3s ease;
                        z-index: 10;
                        a {
                            display: block;
                            padding: 10px 14px;
                            font-size: 14.75px;
                            color: black;
                            transition: 0.2s;
                            &:hover {
                                background: #f2f2f2;
                            }
                        }
                    }
                    &:hover .dropdown-menu {
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(0);
                        }
                    &:hover .drop-btn i {
                        transform: rotate(180deg);
                        transition: 0.3s;
                    }
                }
                .communicate{
                    background-color: var(--main-color);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--second-color);
                    font-size: 13.95px;
                    font-weight: 700;
                    width: 100%;
                    border-radius: 10px;
                    height: 35px;
                    &:hover {
                        background-color: var(--hoverMain-btn);
                        transition: 0.3s;
                    }
                }
            }
        }
        /* End Sidepar */
        /* Start Booking Form */
        .booking-form{
            position: relative;
            z-index: 100000;
            width: 70%;
            margin: 108px auto 0;
            padding: 30px 20px;
            background-color: var(--main-color);
            border-radius: 18.23px;
            form{
                display: flex;
                flex-wrap: wrap;
                align-items: end;
                gap: 15px;
                justify-content: center;
                .column{
                    display: flex;
                    flex-direction: column;
                    label{
                        font-size: 18.23px;
                        color: white;
                        font-weight: 700;
                    }
                    .select-custom{
                        position: relative;
                        width: 220px; 
                        select{
                            color: white;
                            font-weight: 700;
                            margin-top: 10px;
                            width: 100%;
                            padding: 12px 40px 12px 16px; 
                            border-radius: 8px;
                            border: 1px solid white;
                            background: transparent;
                            font-size: 16px;
                            outline: none;
                            appearance: none;    
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            cursor: pointer;
                            option {
                                color:white;
                                background-color: var(--second-color);
                                font-size: 18px;
                                font-weight: 400;
                                &:hover {
                                    background-color: var(--hoverSecond-btn);
                                    transition: 0.3s;
                                }
                            }
                        }
                        .select-icon {
                            position: absolute;
                            top: 59%;
                            left: 14px; 
                            transform: translateY(-50%);
                            color: #fff;
                            font-size: 12px;
                            pointer-events: none; 
                        }
                    }
                }
                .submit{
                    width: 209.6519775390625px;
                    height: 41.01694869995117px;
                    color: white;
                    border-radius: 8px;
                    border: none;
                    font-size: 18.23px;
                    font-weight: 700;
                    background-color: var(--second-color);
                    cursor: pointer;
                    margin-right: 26px;
                    &:hover {
                        background-color: var(--hoverSecond-btn);
                        transition: 0.3s;
                    }
                }
            }
        }
        /* End Booking Form */
    }
}
/* .header::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: #00000075;
    z-index: 0;
    width: 100%;
    height: 100%;
} */
/* End Header */

/* Start All Offers */
.all-offers{
    font-family: "Shekari", Arial, sans-serif;
    .title-head{
        text-align: center;
        font-size: 51.57px;
        font-weight: 400;
    }
.container {
    direction: ltr;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 16px;
    justify-items: center;

    @media (min-width: 1200px) {
        grid-template-columns: repeat(5, 1fr);
    }

    .card {
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        .img-backGround {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
        }

        .tag {
        position: absolute;
        top: 13px;
        right: 1px;
        width: 100px;
        height: 27px;
        }

        .tag-note {
        position: absolute;
        top: 15px;
        margin: 0;
        right: 20px;
        color: white;
        font-size: 15.27px;
        font-weight: bold;
        
        }

        .title {
        position: absolute;
        bottom: -20px;
        color: white;
        font-size: 20.7px;
        font-weight: bold;
        }

        &:hover .img-backGround {
        transform: scale(1.05);
        }
    }

    > :last-child {
        @media (min-width: 1200px) {
        grid-column: 3 / 4;
        }
    }
}


}
/* End All Offers */

/* Start Recent Trips */
.recent-trips{
    padding-bottom: 80px;
    .title-head{
        position: relative;
        text-align: center;
        font-size: 37.22px;
        width: fit-content;
        font-weight: 400;
        font-family: "Shekari", Arial, sans-serif;
        margin: 40px auto;
        &::after{
            content: "";
            position: absolute;
            bottom: 18px;
            left: -49px;
            transform: translateX(-50%);
            width: 60px;
            height: 3px;
            background-color: rgba(171, 85, 44, 1);
        }
        &::before{
            content: "";
            position: absolute;
            bottom: 18px;
            right: -107px;
            transform: translateX(-50%);
            width: 60px;
            height: 3px;
            background-color: rgba(171, 85, 44, 1);
        }
    }
    .container-images{
        display: flex;
        img{
            width: 100%;
            object-fit: cover;
        }
        .main-image{
            height: auto;
            width: 50%;
            position: relative;
            img{
                width: 100%;
                height: 100%;
            }
            p{
                position: absolute;
                bottom: 19px;
                right: 20px;
                color: white;
                font-size: 24.13px;
                line-height: 39px;
            }
        }
        .small-images{
            display: flex;
            width: 50%;
            div{
                width: 50%;
                display: flex;
                flex-direction: column;
            }
        }
    }
}
/* End Recent Trips */

/* Start Registration */
.registration{
    padding-bottom: 80px;
    .container{
        box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        form{
            padding: 50px ;
            width: 50%;
            input{
                outline: none;
            }
            input,textarea{
                width: 100%;
                padding: 12px;
                margin-bottom: 13px;
                margin-top: 13px;
                border-radius: 8px;
                border: 1px solid #ccc;
                font-size: 16px;
            }
            label{
                font-size: 16px;
                font-weight: 700;
            }
            .checkbox{
                margin: 13px 0;
                display: flex;
                align-items: center;
                font-size: 22.91px;
                font-weight: 400;
                gap: 10px;
                padding: 10px 20px;
                border: 1px solid rgba(215, 218, 224, 1);
                border-radius: 8px;
                cursor: pointer;
                input{
                    display: none;
                }
                .radio {
                    width: 16px;
                    height: 16px;
                    border: 2px solid var(--main-color);  
                    border-radius: 50%;
                    position: relative;
                }
                input:checked + .radio::after {
                    content: "";
                    width: 17px;
                    height: 17px;
                    background: var(--main-color);
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
            }
                p{
                    margin: 0;
                }
            }
            .submit{
                background-color: var(--main-color);
                color: white;
                font-size: 14px;
                font-weight: 600;
                border: none;
                width: 198px;
                border-top-right-radius: 8px;
                border-bottom-left-radius: 8px;
                padding: 12px 20px;
                cursor: pointer;
                &:hover {
                    background-color: var(--hoverMain-btn);
                    transition: 0.3s;
                }
            }
        }
        .image{
            padding: 50px;
            width: 43%;
            img{
                width: -webkit-fill-available;
                
            }
        }
    }
}
/* End Registration */

/* Start Footer */
.footer{
    padding: 50px 0;
    background: linear-gradient(
    265deg,
    rgba(17, 147, 119, 1) 0%,
    rgba(5, 45, 36, 1) 100%
    );
    .container{
        display: flex;
        justify-content: space-around;
        h3{
            color: white;
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        .accounts{
            gap: 15px;
            align-items: end;
            a{
                border-radius: 50%;
                border: 1px solid white;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                    &:hover {
                        background-color: white;
                        transition: 0.3s;
                        i {
                            color: var(--second-color);
                            transition: 0.3s;
                        }
                    }
            }
            i{
                color: white;
                font-size: 18px;
            }
        }
        .communication{
            .icons{
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
        .information{
            color: white;
            p{
                font-size: 20.6px;
                font-weight: 400;
            }
        }
    }
}
/* End Footer */
/* End bar */
.end-bar{
    background-color: var(--main-color);
    color: white;
    padding: 10px 50px;
    justify-content: space-between;
    div{
        gap: 10px;
    }
}




/* mobile Responsive */
@media (max-width: 700px) {
    /* Start Header */
    .header{
        background-image: url(./images/backgroung-res.png) !important;
        border-radius: 0px !important;
        padding-bottom: 70px !important;
        .logo{
            width: 70px !important;
        }
        nav{
            justify-content: center !important;
            .list-bar{
                display: block !important;
            }
            ul,
            .communication-btn{
                display: none !important;
            }
        }
        .booking-form{
            width: 90% !important;
            margin: 54px auto 0 !important;
            .select-custom{
                width: 130px !important;
            }
            .submit{
                margin: 0 !important;
                width: 100% !important;
            }
        }
    }
    /* End Header */
    /* Start All Offers */
    .all-offers{
        .container{
            grid-template-columns: repeat(2, minmax(47%, 1fr)) !important;
        }
    }
    /* End All Offers */
    /* Start Recent Trips */
    .recent-trips{
        .title-head{
            font-size: 26.83px !important;
        }
        .container-images{
            flex-direction: column !important;
            p{
                font-size: 16.07px !important;
                line-height: 28px !important;
            }
            .main-image,
            .small-images{
                width: 100% !important;
            }
            .small-images{
                margin-top: -5px !important;
            }
        }
    }
    /* End Recent Trips */
    /* Start Registration */
    .registration{
        .container{
            flex-direction: column-reverse !important;
            form, .image{
                padding: 20px !important;
                width: -webkit-fill-available;
            }
            form{
                width: 91% !important;
                input,textarea{
                    width: 92% !important;
                    margin: 8px 0 !important;
                }
                input::placeholder{
                    font-size: 12px !important;
                }
                .flex-form {
                    width: 94% !important;
                }
                label{
                    font-size: 9.44px !important;
                }
                .checkbox{
                    font-size: 13.51px !important;
                    margin: 8px 0 !important;
                }
            }
        }

    }
    /* End Registration */
    /* Start Footer */
    .footer{
        padding-top: 50px;
        background: linear-gradient(
    -265deg,
    rgba(17, 147, 119, 1) 0%,
    rgba(5, 45, 36, 1) 100%
    );
        .container{
            flex-direction: column !important;
            .accounts{
                justify-content: center !important;
            }
        }
    }
    .end-bar{
        padding: 10px 20px !important;
        .part2{
            display: none !important;
        }
        .part1{
            gap: 26px !important;
            p{
                font-size: 13px !important;
            }
        } 
    }
}

